* {
  margin: 0px;
  padding: 0px;
}

.bgimage {
  background-image: url(Image/1.jpg);
  background-size: 100% 110%;
  width: 100%;
  height: 100vh;
}

.menu {
  width: 100%;
  height: 100px;
  background-color:black;
}

.leftmenu {
  width: 20%;
  line-height: 100px;
  float: left;
  /*	background-color: yellow;*/
}

.leftmenu h3 {
  padding-left: 70px;
  font-weight: bold;
  color: white;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.leftmenu h3 a {
  color: white;
  text-decoration: none;
}

.rightmenu {
  width: 70%;
  height: 100px;
  float: right;
  /*	background-color: red; */
}

.rightmenu ul {
  margin-left: 200px;
}

.rightmenu ul li {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 100px;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

#fisrtlist {
  color: orange;
}
.rightmenu ul li a:hover {
  color: orange;
  text-decoration: none;
}
.rightmenu ul li a {
  color: white;
  text-decoration: none;
}

.text {
  width: 100%;
 
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 16%;
    flex: 37px;
}

.text h3 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.text h1 {
  font-size: 62px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  
  padding-top: 17px;
}

.text h2 {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

#buttonone {
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  border: 3px solid white;
  cursor: pointer;
}

footer{
	
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 padding: 4px 24px;
	
	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}